{% extends "layout.html.twig" %}

{% block content %}
    <h1>Crear Pedido</h1>
    
    <form action="/crearPedidos" method="POST">
        <div class="form-group">
            <label for="idProveedor">ID del Proveedor:</label>
            <input type="number" id="idProveedor" name="idProveedor" min="1" required class="form-control">
        </div>
        <div class="form-group">
            <label for="detalles">Detalles:</label>
            <textarea id="detalles" name="detalles" class="form-control"></textarea>
        </div>
        {% for producto in productos %}
        <div class="form-group">
            <label for="producto{{ loop.index }}">Producto:</label>
            <select id="producto{{ loop.index }}" name="productos[{{ loop.index }}][producto]" class="form-control">
                <option value="" selected>Selecciona un producto</option>
                {% for prod in productos %}
                    <option value="{{ prod.idProducto }}">
                        {{ prod.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="cantidad{{ loop.index }}">Cantidad:</label>
            <input type="number" id="cantidad{{ loop.index }}" name="productos[{{ loop.index }}][cantidad]" min="0" required class="form-control" value="{{ producto.cantidad|default('0') }}">
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Crear Pedido</button>
    </form>

{% endblock %}
